In [1]:
import pandas as pd
import numpy as np
from prepare import base_prep
from acquire import get_data
from explore import base_explore

In [2]:
df = base_explore()

In [3]:
df

,gender,is_senior,has_partner,has_partner,has_dependent,has_dependent,phone_service_type,internet_service_type,streaming_tv,streaming_movies,...,online_backup,device_protection,tech_support,monthly_charges,total_charges,payment_type,paperless_billing,contract_type,tenure,churn
0,Female,0,Yes,1,Yes,1,Multiple Lines,DSL,1,1,...,1,1,1,90.45,5957.90,Mailed check,1,Two year,65,0
1,Male,0,No,0,No,0,None,DSL,1,0,...,0,0,1,45.20,2460.55,Credit card (automatic),1,Two year,54,0
2,Female,0,No,0,No,0,None,DSL,0,0,...,1,1,1,45.05,2560.10,Bank transfer (automatic),1,Two year,56,0
3,Male,0,Yes,1,Yes,1,None,DSL,0,0,...,0,1,1,39.40,825.40,Credit card (automatic),1,Two year,20,0
4,Male,0,Yes,1,No,0,Multiple Lines,DSL,1,1,...,1,1,1,85.15,6316.20,Bank transfer (automatic),1,Two year,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,Yes,1,Yes,1,Single Line,None,0,0,...,0,0,0,20.05,20.05,Mailed check,1,Month-to-month,1,0
7039,Female,0,No,0,No,0,Single Line,None,0,0,...,0,0,0,19.90,367.55,Mailed check,1,Month-to-month,19,0
7040,Female,0,No,0,No,0,Single Line,None,0,0,...,0,0,0,19.70,129.55,Credit card (automatic),1,Month-to-month,6,0
7041,Male,0,No,0,No,0,Single Line,None,0,0,...,0,0,0,18.90,18.90,Mailed check,1,Month-to-month,1,0
7042,Female,0,No,0,No,0,Single Line,None,0,0,...,0,0,0,20.95,85.50,Bank transfer (automatic),1,Month-to-month,4,1